<a href="https://colab.research.google.com/github/WimeKh/DataEngineeringProfessional_MNM/blob/main/Assignment2_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Section 2 Assignement:**



Exercise 5:

Part 1:
Print First 10 natural numbers using while loop

In [ ]:
i = 1
while (i <=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

Part 2:
Print the following pattern

In [ ]:
n = int(input())
i = 1
k =""
while(i<n):
  for j in range(1,n):
    k= k+ " " +str(j)
    i+=1
    print(k)

5
 1
 1 2
 1 2 3
 1 2 3 4

Part 3:
Calculate the sum of all numbers from 1 to a given number

In [ ]:
j = 0
n = int(input('Enter number '))
for i in range(n+1):
  j=j+i

print('sum is: {0}' .format(j))

Enter number 10
sum is: 55

Part 4:
Write a program to print multiplication table of a given number

In [ ]:
n = int(input())
for i in range(1,11):
  print(i*n)

2
2
4
6
8
10
12
14
16
18
20

Part 5:
Display numbers from a list using loop

In [ ]:
list_nbr = [2, 75, 150, 180, 145, 525, 50]
for i in range(len(list_nbr)):
  if list_nbr[i] > 500:
    break
  if list_nbr[i] > 150:
    continue
  if list_nbr[i]%5 ==0:
    print(list_nbr[i])

75
150
145

In [ ]:
list_nbr = [2, 75, 150, 180, 145, 525, 50]
for i in (list_nbr):
  if i > 500:
    break
  if i > 150:
    continue
  if i%5 ==0:
    print(i)

75
150
145

Part 6:
Count the total number of digits in a number

In [ ]:
n = int(input())
n_to_string = str(n)
i = 0
#print(len(n_to_string))
while(i<len(n_to_string)):
  i+=1
print(i)

555555
6

Part 7:
Print the following pattern

In [ ]:
n = int(input())
for i in range(n,0, -1):
  k = i
  for j in range (i):
    print('{0} '.format(k), end='')
    k-=1
  print('')

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Part 8:
Print list in reverse order using a loop

In [ ]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1) -1,-1, -1):
  #print(i)
  print(list1[i])

50
40
30
20
10

Part 9:
Display numbers from -10 to -1 using for loop

In [ ]:
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Part 10:
Use else block to display a message “Done” after successful execution of for loop

In [ ]:
n= int(input())
for i in range(n):
  print(i)
else :
  print('Done!')

5
0
1
2
3
4
Done!

Part 11:
Write a program to display all prime numbers within a range

In [ ]:

start = int(input('start = '))
end = int(input('end = '))
print('Prime number between 25 and 50 are: ')
for i in range(start,end):
  not_prime = False
  for j in range(2,i):
    if ((i %j) == 0) :
      not_prime = True
      break
      

  if(not_prime == False):
    print(i)

start = 25
end = 50
Prime number between 25 and 50 are:
29
31
37
41
43
47

Part 12:
Display Fibonacci series up to 10 terms

In [ ]:
fibonacci = [0 , 1]
for i in range(2,10):
  fibonacci.append((fibonacci[i-2]+fibonacci[i-1]))

print('Fibonacci sequence \n')
print(* fibonacci)

Fibonacci sequence

0 1 1 2 3 5 8 13 21 34

Part 13:
Find the factorial of a given number

In [ ]:
nbr = int(input())
factorial = 1
for i in range(nbr,1, -1):
  factorial*= i

print(factorial)

5
120

Part 14:
Reverse a given integer number

In [ ]:
str_numbr = str(input())
limit_range = len(str_numbr) - 1
inverse_str =[]

for i in range(limit_range, -1, -1):
  
  inverse_str.append(str_numbr[i]) 
  
#print(inverse_str)
inverse_str = "".join(inverse_str)
print(int(inverse_str))

65598
89556

Part 15:
Use a loop to display elements from a given list present at odd index positions

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
  if (i%2 != 0):
    print(str(my_list[i]) + ' ' ,end ='')

20 40 60 80 100

Part 16:
Calculate the cube of all numbers from 1 to a given number

In [ ]:
input_number = int(input())
for i in range(1, input_number+1):
  print('Current number is : {0} and the cube is : {1}'.format(i, i**3))

5
Current number is : 1 and the cube is : 1
Current number is : 2 and the cube is : 8
Current number is : 3 and the cube is : 27
Current number is : 4 and the cube is : 64
Current number is : 5 and the cube is : 125

Part 17: 
Find the sum of the series upto n terms

In [ ]:
n = int(input())
generated_str = ""
sum = 0
for i in range(1, n+1):
  
  generated_str+= "2"
  generated_nbr = int(generated_str)
  sum+= generated_nbr


print(sum)

5
24690

Part 18:
Print the following pattern

In [ ]:
n = int(input())

k =""
for i in range(n):
  k+= "* "
  print(k)

for i in range(n,0, -1):
  for j in range (i-1):
    print("* ", end='')
  print('')

6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*